.dropdown-container {
  border: 1px solid #ccc;
  position: relative;
  border-radius: 15px;
  width: 100px;
  height: 26px;
  /* display: flex;  
  align-self: center; */
  margin-top: 5px;
  margin-left: 5px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px white;
}

.dropdown-input {
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  align-items: center;
  justify-self: start;
  align-self: center;
  text-align: start;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);

  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;

  background-color: #fff;
  margin: 15px;
}

.search-input {
  /* border-radius: 10%; */
  /* background-color: #236eb1;
  border-radius: 10px solid #b67def;
  box-shadow: white;
  margin: 5px; */
  /* color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 8px white;
  width: 20vw;
  padding: 3px 16px 3px 3px;
  outline: 0;
  background-color: #676767; */
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  background-color: rgba(149, 165, 166, 0.9) !important;
}

.dropdown-item:hover {
  /* background-color: #4c5eda; */
  border: 3px solid #ffde00;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
